body {
  font-family: sans-serif;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.loading-bar {
  position: fixed;
  top: 0;
  width: 100%;
  left: -100%;
  height: 2px;
  animation: loading infinite 2s linear;
  animation-delay: 500ms;
  background: hsl(200, 50%, 50%);
}
