body {
  font-family: sans-serif;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
}

.primary-nav {
  width: 200px;
  border-right: solid 1px #ccc;
  overflow: auto;
  position: relative;
}

.nav-link {
  display: block;
  padding: 10px 15px;
  font-size: 120%;
  text-decoration: none;
  border-bottom: solid 1px #eee;
  color: rgb(0, 0, 238);
}

.nav-link.active,
.nav-link:active {
  color: red;
}

.main-content {
  padding: 0px 20px;
}

/* heck yes I copy pasted this from stack overflow */
/* https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
.text-button {
  align-items: normal;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: underline;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em;
  -webkit-logical-width: auto;
}

@supports (-moz-appearance: none) {
  button::-moz-focus-inner {
    border: none;
    padding: 0;
  }
  button:focus {
    outline-style: dotted;
    outline-width: 1px;
  }
}

.edit {
  color: rgb(0, 0, 238);
}

.Field {
  display: block;
  margin: 1.2em 0;
}
